Notebook to join my lake polygons to their actual names for comparison

In [2]:
import os
import pandas as pd
import geopandas as gpd

In [19]:
# I/O
og_csv_in_pth = '/mnt/f/ABoVE2021/Mapping/ABOVE_coordinates_for_Ethan_10-19-21.csv'
mod_csv_in_pth = '/mnt/f/ABoVE2021/Mapping/ABOVE_coordinates_for_Ethan_10-19-21_mod.csv'
pth_shp_in = '/mnt/f/ABoVE2021/Mapping/shp/polygon_geom/combined/ABOVE_coordinates_for_Ethan_10-19-21_geom.shp' # polygons
join_out_pth = '/mnt/f/ABoVE2021/Mapping/out/fix-errors/' + os.path.basename(pth_shp_in)[:-4] + '_joinedLocs.xlsx' # e.g. /mnt/f/ABoVE2021/Mapping/out/xlsx/ABOVE_coordinates_for_Ethan_10-19-21_jn_PADLakesVis_landCoverBuffers.xlsx

In [20]:
## Load
polys = gpd.read_file(pth_shp_in)
og_locs = pd.read_csv(og_csv_in_pth)
locs_mod = pd.read_csv(mod_csv_in_pth)
locs_mod.head()
og_locs.head()

,Sample_name,Date,Location,latitude,longitude,geometry,Priority,Emergent vegetation fraction,Mean inundation dynamism,Landcover,%wetland,%forest,Earth engine
0,Canvasback,9/8/2019,Yukon Flats,66.384000,-146.355000,point,High,NaN,NaN,NaN,NaN,NaN,NaN
1,Daring Lake 08-07-19,8/7/2019,Daring,64.865050,-111.592850,point,High,NaN,NaN,NaN,NaN,NaN,NaN
2,Darking Lake 4 08-10-19,8/10/2019,Daring,64.839060,-111.587150,point,High,NaN,NaN,NaN,NaN,NaN,NaN
3,Esker Lake 08-23-19,8/23/2019,Daring,64.867929,-111.547829,point,High,NaN,NaN,NaN,NaN,NaN,NaN
4,Esker Lake 1 08-09-19,8/9/2019,Daring,64.869830,-111.550950,point,High,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
## Join by name to see which coords changed - silly bc names are modified bw the two...
jn = locs_mod.merge(og_locs, on='Sample_name', how='outer')
jn.head()

,Sample_name,Date_x,Location_x,latitude_x,longitude_x,geometry_x,EDK_note,Priority_x,Emergent vegetation fraction_x,Mean inundation dynamism_x,...,latitude_y,longitude_y,geometry_y,Priority_y,Emergent vegetation fraction_y,Mean inundation dynamism_y,Landcover_y,%wetland_y,%forest_y,Earth engine _y
0,Abraham Lake,9/16/2016,Yukon Flats,66.189000,-146.720000,point,NaN,High,NaN,NaN,...,66.189,-146.72,point,High,NaN,NaN,NaN,NaN,NaN,NaN
1,Abraham Lake,9/16/2016,Yukon Flats,66.189000,-146.720000,point,NaN,High,NaN,NaN,...,66.189,-146.72,point,High,NaN,NaN,NaN,NaN,NaN,NaN
2,Airport pond,8/20/2019,Yellowknife,62.455386,-114.531172,point,NaN,Done,Calculated,Calculated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Atqasuk,8/12/2012,North Alaska,70.327230,-156.806550,point,NaN,Medium,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Backdoor,7/17/2019,Wekweeti,64.203778,-114.257712,point,NaN,Done,Calculated,Calculated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
## Join by lat and long
jn = locs_mod.merge(og_locs, on=['latitude', 'longitude'], how='outer')
jn.head()

,Sample_name_x,Date_x,Location_x,latitude,longitude,geometry_x,EDK_note,Priority_x,Emergent vegetation fraction_x,Mean inundation dynamism_x,...,Date_y,Location_y,geometry_y,Priority_y,Emergent vegetation fraction_y,Mean inundation dynamism_y,Landcover_y,%wetland_y,%forest_y,Earth engine _y
0,Abraham Lake,9/16/2016,Yukon Flats,66.189000,-146.720000,point,NaN,High,NaN,NaN,...,9/16/2016,Yukon Flats,point,High,NaN,NaN,NaN,NaN,NaN,NaN
1,Abraham Lake,9/16/2016,Yukon Flats,66.189000,-146.720000,point,NaN,High,NaN,NaN,...,9/5/2017,Yukon Flats,point,High,NaN,NaN,NaN,NaN,NaN,NaN
2,Airport pond,8/20/2019,Yellowknife,62.455386,-114.531172,point,NaN,Done,Calculated,Calculated,...,8/20/2019,Yellowknife,point,Done,Calculated,Calculated,NaN,NaN,NaN,NaN
3,Atqasuk,8/12/2012,North Alaska,70.327230,-156.806550,point,NaN,Medium,NaN,NaN,...,8/12/2012,North Alaska,point,Medium,NaN,NaN,NaN,NaN,NaN,NaN
4,Atqasuk,8/12/2012,North Alaska,70.327230,-156.806550,point,NaN,Medium,NaN,NaN,...,8/10/2013,North Alaska,point,Medium,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
## write out
jn.to_excel(join_out_pth)