In [45]:
import geopandas as gpd
from lonboard import Map, BitmapTileLayer, PolygonLayer
import lonboard

In [40]:
BASEMAP_URL = 'https://mt1.google.com/vt/lyrs=s&x={x}&y={y}&z={z}'

In [39]:
# pld_pth = '/Volumes/metis/Datasets/SWOT_PLD/Harmonized_SWORD_PLD_dataset.gdb'
pld_pth = '/Volumes/metis/Datasets/SWOT_PLD/SWOT_PLD_v103_beta/SWOT_PLD_v103_beta.gdb'

In [29]:
# gdf = gpd.read_file(pld_pth, engine='pyogrio') # TODO: multiple sub-datasets
# TODO: multiple sub-datasets
gdf = gpd.read_file(pld_pth, engine='pyogrio', rows=1000)

/Users/ekyzivat/mambaforge/envs/geo/lib/python3.11/site-packages/pyogrio/raw.py:137: RuntimeWarning: organizePolygons() received a polygon with more than 100 parts. The processing may be really slow.  You can skip the processing by setting METHOD=SKIP, or only make it analyze counter-clock wise parts by setting METHOD=ONLY_CCW if you can assume that the outline of holes is counter-clock wise defined
  result = ogr_read(

In [30]:
gdf.info()
gdf.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lake_id            1000 non-null   float64
 1   basin_id           1000 non-null   int32
 2   lake_num           1000 non-null   int32
 3   lake_type          1000 non-null   int32
 4   names              115 non-null    object
 5   res_id             10 non-null     float64
 6   reach_id_list      5 non-null      object
 7   lon                1000 non-null   float64
 8   lat                1000 non-null   float64
 9   ref_area           1000 non-null   float64
 10  ref_area_u         0 non-null      object
 11  ref_wse            0 non-null      object
 12  ref_wse_u          0 non-null      object
 13  date_t0            0 non-null      object
 14  ds_t0              0 non-null      object
 15  storage            0 non-null      object
 16  ice_clim_flag      70 non-null     object
 17  ice_dyn_flag       0 non-null      object
 18  pass_full_cal      0 non-null      object
 19  nb_pass_full_cal   1000 non-null   int32
 20  pass_part_cal      0 non-null      object
 21  nb_pass_part_cal   1000 non-null   int32
 22  pass_full_nom      658 non-null    object
 23  nb_pass_full_nom   1000 non-null   int32
 24  pass_part_nom      34 non-null     object
 25  nb_pass_part_nom   1000 non-null   int32
 26  req_size           1000 non-null   int32
 27  cycle_flag_cal     1000 non-null   int32
 28  cycle_flag_nom     1000 non-null   int32
 29  dist_flag          976 non-null    float64
 30  obs_flag           0 non-null      object
 31  min_dist           976 non-null    float64
 32  min_dist_lake      976 non-null    float64
 33  min_dist_lake_id   0 non-null      object
 34  min_dist_river     0 non-null      object
 35  min_dist_river_id  0 non-null      object
 36  ice_clim_flag2     70 non-null     object
 37  nb_ice_clim        70 non-null     object
 38  sources            1000 non-null   object
 39  pekel_occ_avg      0 non-null      object
 40  pekel_water_frac   0 non-null      object
 41  Shape_Length       1000 non-null   float64
 42  Shape_Area         1000 non-null   float64
 43  geometry           1000 non-null   geometry
dtypes: float64(10), geometry(1), int32(10), object(23)
memory usage: 304.8+ KB

,lake_id,basin_id,lake_num,lake_type,names,res_id,reach_id_list,lon,lat,ref_area,...,min_dist_river,min_dist_river_id,ice_clim_flag2,nb_ice_clim,sources,pekel_occ_avg,pekel_water_frac,Shape_Length,Shape_Area,geometry
0,1.110000e+09,111,1,2,None,NaN,None,40.516084,14.953211,0.0153,...,None,None,None,None,Circa2015,None,None,0.008243,0.000001,"MULTIPOLYGON (((40.51554 14.95211, 40.51526 14..."
1,1.110000e+09,111,2,2,None,NaN,None,40.513709,14.950827,0.0207,...,None,None,None,None,Circa2015,None,None,0.009870,0.000002,"MULTIPOLYGON (((40.51301 14.94914, 40.51273 14..."
2,1.110000e+09,111,3,2,None,NaN,None,40.366773,14.963724,0.0225,...,None,None,None,None,Circa2015,None,None,0.011575,0.000002,"MULTIPOLYGON (((40.36807 14.96253, 40.36751 14..."
3,1.110000e+09,111,4,2,None,NaN,None,39.142489,16.668554,0.0468,...,None,None,None,None,Circa2015,None,None,0.009905,0.000004,"MULTIPOLYGON (((39.14344 16.66711, 39.14232 16..."
4,1.110000e+09,111,5,2,None,NaN,None,39.445854,15.681782,0.2421,...,None,None,None,None,Circa2015,None,None,0.044933,0.000020,"MULTIPOLYGON (((39.44731 15.67679, 39.44703 15..."

In [36]:
d = gdf.dissolve()

In [37]:
h = d.concave_hull(0.3)

In [38]:
lonboard.viz(h)

Map(basemap_style=<CartoBasemap.DarkMatter: 'https://basemaps.cartocdn.com/gl/dark-matter-gl-style/style.json'…

In [53]:
# We set `max_requests < 0` because `tile.openstreetmap.org` supports HTTP/2.
imagery_layer = BitmapTileLayer(
    data=BASEMAP_URL,
    tile_size=256,
    max_requests=-1,
    min_zoom=0,
    max_zoom=19,
)
polygon_layer = PolygonLayer.from_geopandas(gpd.GeoDataFrame(geometry=h))
m = Map([imagery_layer, polygon_layer])
m

Map(layers=[BitmapTileLayer(data='https://mt1.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', max_requests=-1, max_zo…